---
import BaseLayout from '../layouts/BaseLayout.astro'
import { SITE_BASE } from '../consts'
---

<BaseLayout>
	<div>
		<main
			class="app-container h-[95vh] flex flex-col gap-6 justify-center py-56 items-center"
		>
			<h1
				class="font-title text-9xl md:text-[128px] text-center leading-none px-4 hero-title z-10"
			>
				404
			</h1>
			<p class="text-xl text-center max-w-[480px]">
				The page you're looking for wasn't found. Please check the link again.
			</p>
			<a class="btn-primary" href={`${SITE_BASE}/`}>Go to Home Page </a>
		</main>
	</div>
</BaseLayout>
