---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
	<main class="app-container pt-36">
		<h1 class="text-6xl pb-2 font-bold">海森 / Hisen</h1>
	</main>
	<section class="app-container py-12 mb-8">
		<div
			class="prose prose-neutral prose-lg md:prose-xl dark:prose-invert prose-img:rounded-xl prose-figure:text-center prose-img:mx-auto"
		>
			<img width="200" height="auto" src="https://i.imgur.com/cQPAnVv.jpg" alt="Hisen Zhang" />

			<h2>关于我 / Bio</h2>

			<p>
				我是海森，现就读于伦斯勒理工学院的计算机科学与计算机工程双专业本科，专注于数字通信与人工智能技术。业余无线电呼号KD2TAI，研究兴趣包括软件定义无线电、数字信号处理，以及无线/物联网安全。
			</p>

			<p>
				Hisen, KD2TAI, officially known as Zhemin Zhang, is the president of W2SZ Rensselaer Polytechnic Institute Amateur Radio Club. He is pursuing a B.S. in Computer Science dual Computer and Systems Engineering, focusing on digital communication, artificial intelligence, and wireless/IoT security.
			</p>

			<h2>履历 / CV</h2>

			<p>
				版本若干，详略各异，自取所需。文件托管在Google Drive上。
			</p>

			<p>
				Below are CVs of various concentrations and level of details.
			</p>

			<ul>
				<li><a href="https://drive.google.com/drive/folders/1yjGs06L5jsOb7V4cnr0k2sHhIgjTP67z" target="_blank">学术 / Academic</a></li>
				<li><a href="https://drive.google.com/drive/folders/1qrFfl3FtcHRchagDrciE3N_8OMpHJEy4" target="_blank">工作 / Work</a></li>
				<li><a href="https://drive.google.com/drive/folders/1nWTtdnwEdNu96QTIoGWfkh4f9Lb_Gmqb" target="_blank">全集 / Full-size</a></li>
			</ul>
		</div>
	</section>
</BaseLayout>
