---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { href, class: className, ...props } = Astro.props

const { pathname } = Astro.url
const isActive =
	href === pathname ||
	href === pathname.replace(/\/$/, '') ||
	(pathname.startsWith('/blog') && href === '/blog')
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	@reference "../styles/global.css";

	a {
		@apply underline-offset-4 hover:underline relative decoration-2;
	}
	a.active {
		@apply underline text-primary dark:text-primary-dark;
	}
</style>
