---
import { Icon } from 'astro-icon/components'
const { class: className } = Astro.props
---

<div
	class:list={[
		className,
		'border-[1px] border-foreground dark:border-foreground-dark rounded-full flex justify-center items-center text-foreground dark:text-foreground-dark [&>*:hover]:brightness-75 md:opacity-80 [&>*]:cursor-pointer',
	]}
>
	<button
		data-theme="theme-auto"
		aria-label="Auto Theme"
		title="Set theme to follow system preference"
		class="theme-button theme-auto"
	>
		<Icon
			name="mdi:brightness-auto"
			class:list="duration-0 text-2xl md:text-xl"
			aria-hidden
		/>
	</button>
	<button
		data-theme="theme-light"
		aria-label="Light Theme"
		title="Set theme to light"
		class="theme-button theme-light"
	>
		<Icon
			name="mdi:white-balance-sunny"
			class:list="duration-0 text-2xl md:text-xl"
			aria-hidden
		/>
	</button>
	<button
		data-theme="theme-dark"
		aria-label="Dark Theme"
		title="Set theme to dark"
		class="theme-button theme-dark"
	>
		<Icon
			name="mdi:moon-and-stars"
			class:list="duration-0 text-2xl md:text-xl"
			aria-hidden
		/>
	</button>
</div>

<style>
	@reference "../styles/global.css";

	button.theme-button {
		@apply p-1 rounded-full duration-0;
	}
	:global(button.active) {
		@apply text-background bg-foreground/90 dark:text-background-dark dark:bg-foreground-dark/90;
	}
</style>
